.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .login-card {
    width: 30%;
  
  }
  
  .login-form-button {
    width: 100%;
  }